# dependencies
/node_modules

# test generated assets - ignore __snapshots__ output folder AND .snap files
/__snapshots__
*.snap

# production - ignore build output folder
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

package-lock.json*
