@theme {
  /* Colors */
  --color-brand-blue: #1570ef;
  --color-surface-primary: #ffffff;
  --color-surface-tertiary: #f5f5f5;
  --color-text-primary: #181d27;
  --color-text-secondary: #535862;
  --color-text-tertiary: #717680;
  --color-text-muted: #a4a7ae;
  --color-border-primary: #d5d7da;
  --color-border-secondary: #e9eaeb;
  --color-surface-tint: #eff8ff;
  --color-accent-soft: #2e90fa;
  --color-link-blue: #175cd3;

  /* Spacing */
  --spacing-spacing-1: 4px;
  --spacing-spacing-2: 6px;
  --spacing-spacing-3: 8px;
  --spacing-spacing-4: 10px;
  --spacing-spacing-5: 12px;
  --spacing-spacing-6: 14px;
  --spacing-spacing-7: 16px;
  --spacing-spacing-8: 20px;
  --spacing-spacing-9: 24px;
  --spacing-spacing-10: 28px;
  --spacing-spacing-11: 32px;
  --spacing-spacing-12: 36px;
  --spacing-spacing-13: 40px;
  --spacing-spacing-14: 48px;
  --spacing-spacing-15: 64px;
  --spacing-spacing-16: 78px;
  --spacing-spacing-17: 112px;
  --spacing-spacing-18: 128px;

  /* Border Radius */
  --radius-radius-md: 8px;
  --radius-radius-lg: 12px;
  --radius-radius-xl: 16px;
  --radius-radius-2xl: 20px;
  --radius-radius-pill: 100px;
  --radius-radius-3xl: 32px;
  --radius-radius-4xl: 40px;

  /* Fonts */
  --font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  --font-geist-mono: "Geist Mono", sans-serif;

}